@charset "UTF-8";

html {
  font-size: 70%;
  scroll-behavior: smooth;
  margin: auto;
}

a {
  text-decoration: none;
  color: darkcyan;
}


/*header*/
.header {
  margin-bottom: 330px;
}

.logo {
  float: left;
  padding-left: 20px;
}

ul.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 300%;
}

li {
  padding: 0 20px;
  margin-top: 30px;
}

/*main*/

/*index main*/
h1 {
  font-size: 700%;
}

.main p {
  font-size: 20px;
}

.main h2 {
  font-size: 400%;
  text-align: center;
}

/*about main*/
.profile {
  padding-bottom: 40px;
}

.profile-image {
  float: left;
  margin-left: 580px;
  padding-right: 100px;
}

.Profile-list {
  margin-left: 50px;
  text-align: left;
  list-style: none;
  font-size: 30px;

}

.Skill-list {
  text-align: center;
  list-style: none;
}

/*footer*/
footer {
  background-color: darkcyan;
  text-align: center;
  font-size: 180%;
  padding: 5%;
  color: white;
}


